In [ ]:
import pandas as pd

netflix = pd.read_csv('Netflix_movies_and_tv_shows_clustering.csv')

display(netflix.head())
display(netflix.info())

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB

None

Esta tabela mostra as primeiras linhas do dataset original da Netflix, permitindo visualizar a estrutura dos dados e exemplos de títulos, tipos, anos de lançamento, países e descrições.

In [3]:
colunas = ['title', 'type', 'release_year', 'country', 'description']
netflix_df = netflix[colunas]
display(netflix_df.head())

,title,type,release_year,country,description
0,3%,TV Show,2020,Brazil,In a future where the elite inhabit an island ...
1,7:19,Movie,2016,Mexico,After a devastating earthquake hits Mexico Cit...
2,23:59,Movie,2011,Singapore,"When an army recruit is found dead, his fellow..."
3,9,Movie,2009,United States,"In a postapocalyptic world, rag-doll robots hi..."
4,21,Movie,2008,United States,A brilliant group of students become card-coun...

Aqui estão as principais colunas selecionadas para análise, focando em título, tipo, ano de lançamento, país e descrição, o que facilita a exploração dos dados mais relevantes.

In [ ]:
tipo_categoria = pd.DataFrame({
    'type': ['Movie', 'TV Show'],
    'categoria': ['Filme', 'Série']
})
netflix_merged = pd.merge(netflix_df, tipo_categoria, on='type', how='left')
display(netflix_merged.head())

Após o merge, cada título foi classificado como "Filme" ou "Série", permitindo análises comparativas entre essas categorias.

In [6]:
from datetime import datetime
ano_atual = datetime.now().year
netflix_merged['idade_titulo'] = ano_atual - netflix_merged['release_year']
display(netflix_merged[['title', 'release_year', 'idade_titulo']].head())

   title  release_year  idade_titulo
0     3%          2020             5
1   7:19          2016             9
2  23:59          2011            14
3      9          2009            16
4     21          2008            17

Esta tabela mostra a idade de cada título, calculada com base no ano atual menos o ano de lançamento, o que ajuda a entender a antiguidade do catálogo.

In [7]:
agrupado = netflix_merged.groupby('categoria')['idade_titulo'].mean().sort_values(ascending=False)
display(agrupado)

categoria
Filme    12.079970
Série     8.808299
Name: idade_titulo, dtype: float64

A tabela apresenta a média da idade dos títulos para cada categoria. Assim, é possível ver se filmes ou séries tendem a ser mais antigos no catálogo da Netflix.

In [8]:
titulos_por_ano = netflix_merged['release_year'].value_counts().sort_index()
display(titulos_por_ano)

release_year
1925       1
1942       2
1943       3
1944       3
1945       3
        ...
2017    1012
2018    1121
2019     996
2020     868
2021      31
Name: count, Length: 73, dtype: int64

Esta tabela mostra quantos títulos do catálogo da Netflix foram lançados em cada ano, permitindo identificar tendências de lançamentos ao longo do tempo.